* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


.top-bar{
    width: 100%;
    height: 4rem;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    justify-content: space-between;
    background-color: #f8f8f8;
    margin: 0;
    border-bottom: 0.5px solid black;
    z-index :11;
}

.usertools{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem;
}

.logo img{
    display: block;
    width: 80%;
    height: 80%;
    object-fit:fill; 
    margin: 0.5rem  1rem 0rem 1rem;
    padding-left: 1rem;
}

.user h2{
    margin: 1rem 1rem;
}

.PersonalChat{
    width: 4rem;
    height: 100%;
    display: flex;
    justify-content:right;
    align-items: center;
}

.PersonalChat i{
    font-size: 1.5rem;
}

.PersonalChat i:hover{
    cursor: pointer;
    color: #007BFF;
    transition: color 0.2s ease-in;
}
.js_bars{
    display: flex;
    align-self: center;
    padding: 0.5rem;
    font-size: 2rem;
    margin-left: 2rem ;
    border-radius: 50%;
    transform:rotate(0deg);
    transition: transform 0.5s ease-out;
}

.usertools .tool .active{
    transform: rotate(90deg);
    transition: transform 0.5s ease-in;
}

.nav-features{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

.nav-bar{
    width: 15rem;
    height: 100%; 
    background-color:#f8f8f8;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 0.5px  solid black;
    border-bottom: 0.5px  solid black;
    border-right: 0.5px  solid black;
}

.drop-menu{
    position: fixed;
    right: 0;
    top:-30%;
    width: 10rem;
    height: fit-content;
    border-left: 0.5px solid black ;
    border-right: 0.5px solid black ;
    border-bottom: 0.5px solid black ;
    transition: top 0.5s ease;
    z-index: 2;
}

.drop{
    top: 4rem;
}
.drop-menu ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0;
}
.drop-menu ul li{
    width: 10rem;
    height: 4rem;
    display: flex;
    background-color: #f8f8f8;
    color: black;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* admin profile view */
.admin_profile{
    position: absolute;
    right:-20rem;
    top: 0;
    width: 20rem;
    height: 30rem;
    z-index: 15;
    border-left: 2px solid rgba(0,0,0, 0.3);
    border-bottom: 2px solid rgba(0,0,0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 0;
    transition: right 0.5s ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.profileBar{
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0, 0.3);
    line-height: 4rem;
}

.adminprofile{
    font-size: 1.5rem;
}

.js_backicon{
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.ProfileDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    height: calc(100% - 8rem);
}

.js_adminSection{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0rem;
}

.profilenames{
    display:flex;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 600;
    margin-right: 1rem;
}

.Admin_FullName ,.Admin_Mobileno , .Admin_EmailAddress , .Admin_designation ,.editableinputFieldName,.editableinputFieldEmail,.editableinputFieldNumber{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

.buttonSection{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.admineditbtn{
    height: 2rem;
    width: 6rem;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: 0.1rem solid black;
    border-radius: 0.5rem;

}

.js_backicon:hover{
    cursor: pointer;
    background-color: #eaeaea;
}

.admineditbtn:hover{
    color: #eaeaea;
    cursor: pointer;
}

/* admin profile view ends */

/* Side navigation bar */


.navs ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* spacing between items */
    padding-bottom: 2rem;
  }
.navs ul li{
    width: 12rem;
    height: 3rem;
    display: flex;
    background-color: #f8f8f8;
    color: black;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


.navs ul .activetab{
    background-color: #eaeaea;
    border: 0.5px solid black 0.5;
  }


.navs ul li i{
    margin-right: 0.2rem;
  }



.navs ul li:hover , .drop-menu ul li:hover {
    background-color: #eaeaea;
    border: 0.5px solid black 0.5;
  }


.js_bars:hover{
    cursor: pointer;
  }


.logo img:hover{
    cursor: pointer;
}


/* Side navigation bar ends */



/* signup form started */

.sidebar_nav_tabs{
    position: relative;
    width: calc(100% - 15rem);
    height: 100%;
    flex-wrap: wrap;

}
.createEmployee , .View_Employee {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    overflow-x: hidden;
}

.ShowEmployeeSignupPage{
    opacity: 1;
    pointer-events: all;
}


.signup {
    display: flex;
    width: 100%;
    flex-direction: column; /* Stack heading and form vertically */
    align-items: center;     /* Center horizontally */
    background:#ffff;
    height: 100%;
    width: 100%;
}


 .signup-bar,.Top_Search_Bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    background-color: #ffffff;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 10;
}

.signup-bar .main_heading h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
}
.signup .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding:1rem 0rem 1rem 0rem ;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Label takes 1 fraction, Input takes 2 fractions */
    gap: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
}

.signup-heading {
    display: flex;
    width: 100%;
    padding-left:1rem ;
    font-size: 1.5rem;
    font-weight: 600;

}

.line{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
}

.personal-division{
    display: flex;
    flex-direction: row;
}

.signup-details, .p-heading {
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}

.signup-input,
.signup-selection {
    height: 2.2rem;
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
    width: fit-content;
}

.password-wrapper input {
    padding-right: 40px; /* space for the icon */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}
#empUpload {
  display: none;
}
/* Wrap the whole thing */
.Emp_photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-box{
    display: inline-block;
    width: 6rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    border: 0.5px solid black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}

.upload-box:hover{
    
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.5s ease, transform 0.3s ease;
}
  
#previewImage{
    height: 8rem;
    width: 6rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #777;
    cursor: pointer;
    left: -6rem;
    border: 0.5px solid black;
}
       
.signup-image{
    border: 1px solid black;
    height:8rem;
    width:6rem;

}

.gender p{
    width: 8rem;
    font-weight: 600;
    padding-left:0.5rem ;
    padding: 0rem 0.5rem 0rem 0.5rem;
}


.signup-form .signup_btn{
    height: 3rem;
    width: 10rem;
    margin-top: 1.5rem;
    align-self: center;
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.js_office_container{
    position: relative;
}

.officeDropDown{
    position:absolute;
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 0.3rem;
    box-sizing: border-box;
    background-color:#f8f8f8;
    cursor: pointer;
}

.officeDropDown{
    display : none;
}

.signup-input:hover,.signup-selection:hover{
    border: 0.5px solid #007BFF;
    cursor: pointer;
}

.signup-input:focus,
.signup-selection:focus {
    outline: none;
    border-color: #007BFF;
}

.signup_btn:hover{
    cursor: pointer;
}


/* signup form completed */

/* View Employee Data */

.Top_Search_Bar{
    box-shadow: none;
}

.SearchBar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 30rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.searchField{
    width: 100%;
    height: 100%;
}

.searchField .empSearch{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-left-radius:1rem;
    border-top-left-radius:1rem;
    padding-left: 1rem;
}

.searchBtn{
    height: 100%;
    width: 4rem;
    border-left: 1px solid black;
    background-color: #eaeaea;
    border-top-right-radius: 1rem ;
    border-bottom-right-radius:1rem ;
    cursor: pointer;
}

.searchBtn i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Data_Field{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Varified_Employee , .NonVarified_Employee {
    width: 100%;
    height: auto;

}

.NonVarified_Employee{
    padding-bottom: 10rem;
}

.Varified_heading , .NonVarified_heading{
    display: flex;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border: 1px solid black;
}

.Varified_heading{
    background-color:#4CAF50;
}

.NonVarified_heading{
    background-color:#FF2C2C;
}

.Varified_heading .nameofComponent , .NonVarified_heading .nameofComponent {
    margin: 0.1rem;
}
.Varified_heading .dropdownArrow , .NonVarified_heading .dropdownArrow{
    width: 2rem;
    cursor: pointer;
    margin: 0.1rem;
    cursor: pointer;
}

.Varified_heading .dropdownArrow i , .NonVarified_heading .dropdownArrow i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #ffff;
    border-radius: 100%;
}

.listOfVarifiedEmployees , .listOfNonVarifiedEmployees{
    width: 100%;
    height: auto;
    padding: 0.2rem;
    margin: 0.1rem 0.1rem 0.1rem 0rem;
   
}


.EmployeeList{
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 0.3rem 0rem ;
    padding: 0.1rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1rem;
}

.image_container{
    display:flex;
    width: 6rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.empImage{
    width: 3rem;
    height: 4rem;
  
    
    border: 1px solid white;
    border-radius: 0.5rem;
}

.details{
    height: calc(100%-6rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-right: 1rem;
}


.details h5{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.5;
    margin: 0;
}

.emp_code , .emp_name , .emp_mobileNumber , .emp_department{
    margin: 0rem 1rem;
    height: 100%;
}

.empcode , .empName , .empMNum , .empDepartment {
    margin-top: 0.5rem;
}

.editBtn , .verify{
    display: flex;
    width: 5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left:1rem ;
    
}

.editBtn button , .verify button{
    display: flex;
    width: 100%;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    justify-content: center;
    align-items: center;
}


.editBtn button i {
    margin-left:0.5rem;
}




.editBtn button:hover , .verify button:hover{
    cursor: pointer;
    color:white ;
    background-color: chocolate;
}
/* View Employee Data End*/

.invert {
  transform: rotate(180deg);
}


.hidden{
    display: none;
}

/* media propeties of page */

@media screen and (max-width: 768px) {
    .detail-container {
        grid-template-columns: 1fr; /* Stack the labels and inputs vertically */
    }

    .signup {
        width: 95%; /* Ensure the form is not too wide on smaller screens */
    }

    .signup-form {
        padding: 0 1rem;
    }

    .signup-details {
        font-size: 1rem; /* Adjust font size for mobile */
    }
}