<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/resetpassword.css">
</head>
<body>
    <div class="pop-ups Popups">
    </div>
    <div class="logo">
        <img src="./images/EDMS LOGO for main screen.png"class ="js_logo">
    </div>
    <div class="main">
        <div class="heading">
            Reset Password <i class="fa-solid fa-key"></i>
        </div>
        <div class="informationtab ">
            <div class="emailcontainer">
                <label for="email" class="emaillabel">Enter Your Registred Email Address</label>
                <input type="text" name="emailforpassword" id="email" class="forgetpasswordemail" placeholder="Enter Your Email">
            </div>
            <div class="otpcontainer">
                <input type="text" class="otpinput" placeholder="Enter Your OTP">
                <button class="otpbtn" disabled>Get otp</button>
            </div>
            <p id="otp-timer" class="otptimertext hidden">OTP expires in 05:00</p>
            <div class="nextcontainer">
                <button class="nextpagebtn1" disabled>Next</button>
            </div>
        </div>
        <div class="ResetPage switchpage">
            <div class="email2container">
                <label for="confirmemail"> HOD Email</label>
                <input type="email" id="confirmemail" class="confirm" disabled>
            </div>
            <div class="restpasswordcontainer">
                <div class="firstpassword">
                    <label for="Password" class="newpasswordlabel">Enter a New Password</label>
                    <input type="password" id="Password" class="newpassword">
                </div>
                <div class="confirmpassword">
                    <label for="CPassword" class="Cpasswordlabel">Re-Enter a New Password</label>
                    <input type="password" id="CPassword" class="Cnewpassword">
                </div>
            </div>
            <div class="finish">
                <button class="finishbtn">Confirm</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="resetpassword.js"></script>
</body>
</html>